################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/PlumLog/v15
/PlumLog/Debug
/PlumLog/Release
/PlumLog/x64
/x64
